vytvorene_pozvanky/**
input/data/manual-entry.csv
input/template/**
vytvorene_pozvanky-web/001_H.E._Ms._Donika_Hoxha_and_spouse.pdf
vytvorene_pozvanky-web/002_H.E._Mrs._Nakhla_Kechacha_and_spouse.pdf
vytvorene_pozvanky-web/003_H.E._Archbishop_Leopoldo_Girelli_and_spouse.pdf
vytvorene_pozvanky-web/004_H.E._Mr._Richard_Rodgers_and_spouse.pdf
vytvorene_pozvanky-web/005_H.E._Mrs._Yvonne_Tončić-Sorinj_and_spouse.pdf
vytvorene_pozvanky-web/006_H.E._Mr._Anar_Imanov_and_spouse.pdf
vytvorene_pozvanky-web/007_H.E._Mr._William_De_Baets_and_spouse.pdf
vytvorene_pozvanky-web/008_H.E._Mrs_Elma_Kovačević-Bajtal_and_spouse.pdf
vytvorene_pozvanky-web/009_H.E._Mrs._Silvana_Polich_and_spouse.pdf
vytvorene_pozvanky-web/010_H.E._Mrs._Iva_Kruleva_and_spouse.pdf
vytvorene_pozvanky-web/011_H.E._Ms._Jessica_Blitt_and_spouse.pdf
vytvorene_pozvanky-web/012_H.E._Mr._Rodrigo_Donoso_and_spouse.pdf
vytvorene_pozvanky-web/013_H.E._Mr._Qianjin_Qi_and_spouse.pdf
vytvorene_pozvanky-web/014_H.E._Mr._Petr_Gandalovič_and_spouse.pdf
vytvorene_pozvanky-web/015_H.E._Mr._Ole_Frijs-Madsen_and_spouse.pdf
vytvorene_pozvanky-web/016_H.E._Mrs._Rania_Mahmoud_Mohamed_Elbanna_and_spouse.pdf
vytvorene_pozvanky-web/017_H.E._Mrs._Jana_Vanaveski_and_spouse.pdf
vytvorene_pozvanky-web/018_H.E._Mrs._Sirpa_Oksanen_and_spouse.pdf
vytvorene_pozvanky-web/019_H.E._Mr_Fabien_Fieschi_and_spouse.pdf
vytvorene_pozvanky-web/020_H.E._Mr._Zaal_Gogsadze_and_spouse.pdf
vytvorene_pozvanky-web/021_H._E._Prof._Dr._Pascal_Hector_and_spouse.pdf
vytvorene_pozvanky-web/022_H.E._Mr._Athanassios_Paressoglou_and_spouse.pdf
vytvorene_pozvanky-web/023_H.E._Dr._Csaba_Demcsák_and_spouse.pdf
vytvorene_pozvanky-web/024_H.E._Mr._Arun_Goel_and_spouse.pdf
vytvorene_pozvanky-web/025_H.E._Ms._Suwartini_Wirta_and_spouse.pdf
vytvorene_pozvanky-web/026_H.E._Mr._Amir_Hossein_Gharibnejad_and_spouse.pdf
vytvorene_pozvanky-web/027_Mr._Hussein_Abbas_Hussein_Taan_and_spouse.pdf
vytvorene_pozvanky-web/028_H.E._Ms._Wendy_Dorman-Smith_and_spouse.pdf
vytvorene_pozvanky-web/029_H.E._Mr_Gary_KOREN_and_spouse.pdf
vytvorene_pozvanky-web/030_H.E._Mr._Paolo_Trichilo_and_spouse.pdf
vytvorene_pozvanky-web/031_H.E._Mr._Mitsuhiro_WADA_and_spouse.pdf
vytvorene_pozvanky-web/032_H.E._Mr._DAULET_BATRASHEV_and_spouse.pdf
vytvorene_pozvanky-web/033_H.E._Mr._LEE_Seungbuhm_and_spouse.pdf
vytvorene_pozvanky-web/034_H.E._Mr._Martin_Berishaj_and_spouse.pdf
vytvorene_pozvanky-web/035_H._E._Ms_Agnese_Kalnina_and_spouse.pdf
vytvorene_pozvanky-web/036_H.E._Mr._Eduardas_Borisovas_and_spouse.pdf
vytvorene_pozvanky-web/037_Mr._MELVIN_CHEAH_CHEE_AUN_and_spouse.pdf
vytvorene_pozvanky-web/038_H.E._Clarence_Pace_and_spouse.pdf
vytvorene_pozvanky-web/039_H.E._Mr._Dejan_Vuković_and_spouse.pdf
vytvorene_pozvanky-web/040_H.E._Mrs._Nour_El_Houda_Marrakchi_and_spouse.pdf
vytvorene_pozvanky-web/041_H.E._Ms_Charlotte_van_Baak_and_spouse.pdf
vytvorene_pozvanky-web/042_H.E._Dragan_Gjurchevski_and_spouse.pdf
vytvorene_pozvanky-web/043_H.E._Mr._Arne_Sannes_Bjørnstad_and_spouse.pdf
vytvorene_pozvanky-web/044_H.E._Mr._Paweł_Czerwiński_and_spouse.pdf
vytvorene_pozvanky-web/045_H.E._Mrs._Maria_Manuel_Quintela_Batista_Durao_and_spouse.pdf
vytvorene_pozvanky-web/046_H._E._Mrs._Asma_Naji_Al-Amri_and_spouse.pdf
vytvorene_pozvanky-web/047_H._E._Mrs._Daniela_Mihaela_Cămărășan_and_spouse.pdf
vytvorene_pozvanky-web/048_H.E._Mr._Alexander_NURIZADE_and_spouse.pdf
vytvorene_pozvanky-web/049_H.E._Mrs._Hana_Kovačová_and_spouse.pdf
vytvorene_pozvanky-web/050_H.E._Mr._Gašper_Dovžan_and_spouse.pdf
vytvorene_pozvanky-web/051_H._E._Mr._Pietro_Mortini_and_spouse.pdf
vytvorene_pozvanky-web/052_H.E._Mr._José_Ramón_García-Hernández_and_spouse.pdf
vytvorene_pozvanky-web/053_H.E._Ms_Anna_Boda_and_spouse.pdf
vytvorene_pozvanky-web/054_H.E._Ms_Beatrice_Schaer_and_spouse.pdf
vytvorene_pozvanky-web/055_H.E._Mrs._Hayriye_Nurdan_Erpulat_Altuntaş_and_spouse.pdf
vytvorene_pozvanky-web/056_H.E.Dr._Vasyl_Kyrylych_and_spouse.pdf
vytvorene_pozvanky-web/057_H.E._Mr._Javed_Patel_and_spouse.pdf
vytvorene_pozvanky-web/058_H.E._Mrs._Nicole_McGraw_and_spouse.pdf
vytvorene_pozvanky-web/059_Mr._Miljan_Ždrale_and_spouse.pdf
vytvorene_pozvanky-web/060_Mr_Ivan_Pitesa_and_spouse.pdf
vytvorene_pozvanky-web/061_Mr._Dragan_Zeljko_and_spouse.pdf
vytvorene_pozvanky-web/062_Amb._Miroslav_Šćepanović_and_spouse.pdf
vytvorene_pozvanky-web/063_Ms._Luisa_Brumana_and_spouse.pdf
vytvorene_pozvanky-web/064_Dr._Iva_Pejnović_Franelić_and_spouse.pdf
vytvorene_pozvanky-web/065_Mr._Jehan_Arulpragasam_and_spouse.pdf
vytvorene_pozvanky-web/066_Ms_Zrinka_Ujević_and_spouse.pdf
vytvorene_pozvanky-web/067_Ms_Slađana_Ćosić_and_spouse.pdf
vytvorene_pozvanky-web/068_Ms._Maja_Ljubić_Kutnjak_and_spouse.pdf
vytvorene_pozvanky-web/069_H._E._Mr._Gordan_Grlić-Radman_and_spouse.pdf
vytvorene_pozvanky-web/070_H._E._Mr._Frano_Matušić_and_spouse.pdf
vytvorene_pozvanky-web/071_H._E._Mrs._Andreja_Metelko-Zgombić_and_spouse.pdf
vytvorene_pozvanky-web/072_H._E._Mr._Zdenko_Lucić_and_spouse.pdf
vytvorene_pozvanky-web/073_H._E._Mrs._Terezija_Gras_and_spouse.pdf
vytvorene_pozvanky-web/074_H._E._Mrs._Irena_Alajberg_and_spouse.pdf
vytvorene_pozvanky-web/075_H._E._Mrs._Romana_Vlahutin_and_spouse.pdf
vytvorene_pozvanky-web/076_Ms_Ljerka_Brdovčak_and_spouse.pdf
vytvorene_pozvanky-web/077_H._E._Mrs._Ines_Troha_and_spouse.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi/*
!.pixi/config.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule*
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
